@model IEnumerable<Support.Models.ReferVM>

<h3>
    Заявки в очереди
</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Ajax.ActionLink("Отменить заявку", "CancelRefer", "Support", new { referId = item.Id }, new AjaxOptions { HttpMethod = "POST",  OnSuccess = "onSuccessCancelRefer", OnFailure = "onFailureFormDefault" })
        </td>
    </tr>
}

</table>
