@using Support.Infrastructure.Enums
@using Support.Utility
@model IEnumerable<Support.Models.WorkerVM>

<h3>
    Сотрудники
</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @Html.HiddenFor(modelItem => item.Id)
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td><a data-toggle="modal" data-target="#dialogModalLg" href="@Url.Action("CreateEditWorker", "Support", new {id = item.Id})">Править</a></td>
    </tr>
}

</table>
